[submodule "DebugPrintf"]
	path = DebugPrintf
	url = https://github.com/bangoc/DebugPrintf.git
[submodule "libfdr"]
	path = libfdr
	url = https://github.com/bangoc/libfdr.git
[submodule "c-vector"]
	path = c-vector
	url = https://github.com/bangoc/c-vector.git
